body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#container { 
  height: 100%;
  width: 100%;
}

html { 
  height: 100%;
}

#input-wrap {
  display: block;
}

input[type="text"] {
  width: 30px;
}

#map {
  height: 100%;
  width: 100%;
}

#nav {
  display: block;
  background-color: #fff;
  border: 1px #000 Solid;
  height: 100%;
  padding: 5px;
  position: absolute;
  width: 15%;
  z-index: 100;
}