.active {
  outline: 5px solid #6CC551;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 6px 12px 9px #888888;
  z-index: 500;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  transition: background-color 0.5s;
  color: #1E3C19;
}

.btn-icon {
  margin-right: 15px
}

.card-scroller {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  min-width: 5px;
  height: 100%;
  z-index: 20;
  overflow: scroll;
}

#colon {
  font-size: 24px;
  padding-top: 10%;
}

.fg-mixin {
  margin: auto;
  width: 20%
}

html {
  height: 100%;
}

.text-color {
  color: #1E3C19;
}

.location-card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.over-card {
  bottom: 0;
  height: fit-content;
	left: 0;
  margin: auto;
  position: absolute;
	right: 0;
  top:0;
  width: fit-content;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#nav-text {
  margin-right: 10px;
  margin-left: 10px;
}

.icon {
  cursor:pointer;
  padding:10px 12px 8px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s;
}

.icon:hover {
  color:#666;
}

.icon.press {
  color:#e23b3b;
}